PIL
# These requirements are only necessary when developing on Dio.
# You can check for newer versions of these dependencies using this command
#


django==1.7.0
psycopg2==2.6.1
django-treebeard==3.0
pillow==2.9.0
sorl-thumbnail==12.3
django-autoslug==1.8.0
django-mptt==0.7.4
django-mptt-admin==0.2.1
pytils==0.3
django-annoying==0.8.3
django-registration-redux==1.2
haystack==0.15
python-ptrace==0.8.1
django-ordered-model==0.4.2
django-pure-pagination==0.2.0


