{% load thumbnail %}

{% thumbnail product_vivod.image "150x150" as object_list %}
<!-- что б выводились превюшки, нужно в img src= вставить (object_list.url), а не переменную инерации-->


<div class="col-xs-6 col-sm-6 col-lg-12" >
<p><h2><a href="{{ product_vivod.get_absolute_url }}">{{ product_vivod.title }}</a></h2>

    <a href="{{ product_vivod.image.url }}" target='_blank'><img class='avatar' src = '{{ object_list.url }}' width = '80' height = '70' /></a>
    <p>{{ product_vivod.description }}</p>
    <p>{{ product_vivod.date_created|date }}</p>
    <p>{{ product_vivod.user_name }}</p>
    <a href="{% url 'dashboard:product_update' product_vivod.pk %}">Update product</a>  |
    <a href="{% url 'dashboard:product_delete' product_vivod.pk %}">Delete product</a>

    <hr>

</div>



{% endthumbnail %}
