{% load i18n static %}

{% comment %}
{% for item in categories %}
    <a class="list-group-item " href=" {{ item.get_absolute_url }}">{{ item }}</a>
{% endfor %}
{% endcomment %}

{% load mptt_tags %}
   {% recursetree categories %}


           <a class="list-group-item" href="/category/{{ node.slug }}/">
           {{ node.name }}|  ({{ node.get_query_set }})
            </a>

       {% if not node.is_leaf_node %}
               <ul class="children">
                    {{ children }}
                </ul>
           {% endif %}


    {% endrecursetree %}

